node_modules/
apps/web/.next/
apps/web/public/sw.js
apps/mobile/.expo/
apps/mobile/dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store
*.pem
*.tsbuildinfo
yarn-debug.log*
yarn-error.log*
.env
